.finished-inventory {
  background-color: var(--bg-body);

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    padding: var(--spacing-4);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
  }
}

@media screen and (max-width: 360px) {
  .finished-inventory__content {
    padding: var(--spacing-3);
  }
}
